.md-preview {
  color: #ABB2BF;
}

.md-preview h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

.md-preview h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}

.md-preview h3 {
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}

.md-preview h4 {
  font-size: 1em;
  margin: 1.33em 0;
  font-weight: bold;
}

.md-preview h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  font-weight: bold;
}

.md-preview h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
  font-weight: bold;
}

.md-preview p {
  margin: 1em 0;
}

.md-preview code:not(pre > code) {
  background-color: #282c34;
  color: #ABB2BF;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.md-preview pre {
  background-color: #282c34;
  color: #ABB2BF;
  padding: 1em;
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #404040;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.scrollable {
  overflow-y: scroll;
}
