.md-preview .katex-html {
  display: none;
}

.md-preview .katex-mathml {
  padding: 0.1em 0.2em;
}

.md-preview .katex-mathml semantics {
  background-color: #282c34;
  color: #ABB2BF;
  border-radius: 3px;
  padding: 0.4em 0.8em;
}

.md-preview .katex-block {
  background-color: #282c34;
  color: #ABB2BF;
  border-radius: 3px;
}

.md-preview {
  color: #ABB2BF;
}

.md-preview h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

.md-preview h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}

.md-preview h3 {
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}

.md-preview h4 {
  font-size: 1em;
  margin: 1.33em 0;
  font-weight: bold;
}

.md-preview h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  font-weight: bold;
}

.md-preview h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
  font-weight: bold;
}

.md-preview p {
  margin: 1em 0;
}

.md-preview code:not(pre > code) {
  background-color: #282c34;
  color: #ABB2BF;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

.md-preview pre {
  background-color: #282c34;
  color: #ABB2BF;
  padding: 1em;
  border-radius: 3px;
  white-space: pre-wrap;
}

.md-preview blockquote {
  background-color: #282c34;
  color: #ABB2BF;
  padding: 0.5em 1em;
  margin: 1em 0;
  border-left: 3px solid #5432D0;
}

.md-preview ul {
  padding-left: 2em;
  list-style: disc;
}

.md-preview li {
  margin: 0.3em 0;
}

.md-preview ol {
  padding-left: 2em;
  list-style: decimal;
}

.md-preview a {
  display: inline;
  color: #5E33F6;
}

.md-preview-link-text {
  display: inline;
}

.md-preview-link-text:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.named-fence-block {
  position: relative;
  padding-top: 2em !important;
}

.named-fence-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  font-weight: bold;
  color: #282c34;
  background: #abb2bf;
  opacity: 0.6;
}

.mdi-label {
  padding: 0.1em 0.2em;
  border-radius: 3px;
  font-weight: 600;
}

.scrollable::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #404040;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
  cursor: pointer;
}

.scrollable {
  overflow-y: scroll;
}
